@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Poppins:wght@100;200;300;400;500;700&display=swap');

.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #0062E6, #33AEFF);
  font-family: 'Dancing Script', cursive;
  font-family: 'Poppins', sans-serif;
}
